<nav class="bg-white border-gray-200 dark:bg-[#1c1c22] mt-2 sticky w-full top-0 z-50">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="" class="flex items-center space-x-3 rtl:space-x-reverse">
            <div class="flex items-end">
                <p class="font-mono self-center text-3xl font-semibold whitespace-nowrap dark:text-white">Rifash</p>
                <div class="w-[6px] h-[6px] bg-[#00ff99] rounded-full mb-[7px] ms-[5px]"></div>
            </div>
        </a>
        <button data-collapse-toggle="navbar-default" type="button" (click)="openPhoneMenu()"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 1h15M1 7h15M1 13h15" />
            </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul
                class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 dark:border-gray-700">
                <li *ngFor="let nav of navOptions" class="cursor-pointer">
                    <div class="nav-link">
                        <a [routerLink]="nav.path" (click)="scrollTo(nav.path)" routerLinkActive="active"
                            class="font-semibold block py-2 px-3 text-white rounded md:bg-transparent md:p-0 dark:text-white hover:text-[#00ff99] transition-all">{{nav.label}}
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div *ngIf="phoneMenu" [@toggleAnimation] class="w-full bg-gray-800">
        <ul
            class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            <li *ngFor="let nav of navOptions" class="cursor-pointer">
                <div class="">
                    <a [routerLink]="nav.path" (click)="scrollTo(nav.path)" routerLinkActive="active"
                        class="font-semibold block py-2 px-3 text-white rounded md:bg-transparent md:p-0 dark:text-white hover:text-[#00ff99] transition-all">{{nav.label}}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!-- [@toggleAnimation] -->
<div class="max-w-screen-xl flex flex-wrap items-center mx-auto px-5 mt-3">
    <section id="home" class="w-full">
        <app-home id="home"></app-home>
    </section>

    <div class="w-full h-[1px] bg-gray-500 my-5"></div>

    <section id="about">
        <app-about></app-about>
    </section>

    <div class="w-full h-[1px] bg-gray-500 my-5"></div>

    <section id="skills" class="300 w-full">
        <app-skills></app-skills>
    </section>

    <div class="w-full h-[1px] bg-gray-500 my-5"></div>

    <section id="projects" class="w-full">
        <app-projects></app-projects>
    </section>

    <div class="w-full h-[1px] bg-gray-500 my-5"></div>

    <section id="services">
        <app-services></app-services>
    </section>

    <div class="w-full h-[1px] bg-gray-500 my-10"></div>

    <section id="contact">
        <app-contact></app-contact>
    </section>
</div>