<div class="flex flex-col items-center">
    <h2 class="font-mono mb-1 font-semibold">Browse My Recent</h2>
    <h1 class="font-mono text-5xl font-bold">Projects</h1>

    <div class="mt-10 md:flex">
        <div class="border px-3 py-5 w-full rounded-3xl flex flex-col items-center">
            <div class="hover:scale-95 transition-all duration-300">
                <img class="object-cover h-[350px] rounded-2xl"
                    src="../../assets/Best-Ecommerce-Books-50-Shades-of-Growth-–-Sid-Bharath-and-Danny-Halarewich-258x300.webp"
                    alt="">
            </div>
            <div class="text-center mt-2 flex flex-col items-center">
                <div class="flex items-center justify-center">
                    <h1 class="text-xl font-semibold me-1">Book-app</h1>
                    <p class="text-xs text-gray-300 mt-1 italic ...">(E-Commerce)</p>
                </div>
                <button
                    class="mt-2 flex items-center font-semibold font-mono border-[1px] border-gray-200 px-5 py-2 rounded-3xl hover:bg-gray-100 hover:text-black hover:font-bold transition-all"><a
                        href="https://github.com/rifsh/Full-stack-Ecommerce/tree/master">GitHub</a>
                    <i class='bx bxl-github text-[25px]'></i>
                </button>
            </div>

        </div>
        <div class="border md:m-0 md:mx-5 my-5 px-3 py-5 w-full rounded-3xl flex flex-col items-center">
            <div class="hover:scale-95 transition-all duration-300">
                <img class="object-cover h-[350px] rounded-2xl"
                    src="../../assets/Essential-Features-to-Make-a-Clone-of-Instagram.webp" alt="">
            </div>
            <div class="text-center mt-2 flex flex-col items-center">
                <div class="flex items-center justify-center">
                    <h1 class="text-xl font-semibold me-1">Chatternet</h1>
                    <p class="text-xs text-gray-300 mt-1 italic ...">(SocialMeadia clone app)</p>
                </div>
                <button
                    class="mt-2 flex items-center font-semibold font-mono border-[1px] border-gray-200 px-5 py-2     rounded-3xl hover:bg-gray-100 hover:text-black hover:font-bold transition-all"><a
                        href="https://github.com/rifsh/instagram-clone-full-stack">GitHub</a>
                    <i class='bx bxl-github text-[25px]'></i>
                </button>
            </div>
        </div>
        <div class="border px-5 py-5 w-full rounded-3xl flex flex-col items-center">
            <div class="hover:scale-95 transition-all duration-300">
                <img class="object-cover h-[350px] rounded-2xl" src="../../assets/office-managemnt.png" alt="">
            </div>
            <div class="text-center mt-2 flex flex-col items-center">
                <div class="flex items-center justify-center">
                    <h1 class="text-xl font-semibold me-1">Nexus</h1>
                    <p class="text-xs text-gray-300 mt-1 italic ...">(Office Managment)</p>
                </div>
                <button
                    class="mt-2 flex items-center font-semibold font-mono border-[1px] border-gray-200 px-5 py-2 rounded-3xl hover:bg-gray-100 hover:text-black hover:font-bold transition-all">GitHub
                    <i class='bx bxl-github text-[25px]'></i>
                </button>
            </div>
        </div>
    </div>
</div>