.outline-text {
    color: transparent; // Make the fill color transparent
    -webkit-text-stroke-width: 1px; // Define the stroke width
    -webkit-text-stroke-color: rgb(255, 255, 255); // Define the stroke color
}

.font-mono p {
    margin: 20px 0; // Add equal spacing between p tags
}

.font-mono:hover p {
    // color: #00ff99;
    -webkit-text-stroke-color: #00ff99; // Define the stroke color

}

.font-mono:hover .arrow-icon {
    background-color: #00ff99;
}