<div class="md:grid md:grid-flow-col md:grid-rows-2 md:gap-7">
    <div class="font-mono relative hover:text-[#00ff99] transition-all">
        <div class="flex items-center w-full justify-between">
            <p class="outline-text text-8xl">01</p>
            <div class="arrow-icon bg-white rounded-full">
                <svg class="cursor-pointer rotate-45 hover:rotate-0 transition-transform duration-300 ease-in transform"
                    fill="#000000" width="50px" height="50px" viewBox="0 0 256 256" id="Flat"
                    xmlns="http://www.w3.org/2000/svg" stroke="#000000" stroke-width="0.00256">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path
                            d="M218.82812,130.82812l-72,72a3.99957,3.99957,0,0,1-5.65625-5.65625L206.34326,132H40a4,4,0,0,1,0-8H206.34326L141.17187,58.82812a3.99957,3.99957,0,0,1,5.65625-5.65625l72,72A3.99854,3.99854,0,0,1,218.82812,130.82812Z">
                        </path>
                    </g>
                </svg>
            </div>
        </div>
        <p class="text-xl">Web Development</p>
        <p class="text-xl">
            As a passionate web developer, I specialize in creating dynamic and responsive web applications using the
            latest front-end technologies</p>
        <div class="w-full h-[1px] bg-gray-400"></div>
    </div>

    <div class="font-mono relative hover:text-[#00ff99] transition-all">
        <div class="flex items-center w-full justify-between">
            <p class="outline-text text-8xl">02</p>
            <div class="arrow-icon bg-white rounded-full">
                <svg class="cursor-pointer rotate-45 hover:rotate-0 transition-transform duration-300 ease-in transform"
                    fill="#000000" width="50px" height="50px" viewBox="0 0 256 256" id="Flat"
                    xmlns="http://www.w3.org/2000/svg" stroke="#000000" stroke-width="0.00256">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path
                            d="M218.82812,130.82812l-72,72a3.99957,3.99957,0,0,1-5.65625-5.65625L206.34326,132H40a4,4,0,0,1,0-8H206.34326L141.17187,58.82812a3.99957,3.99957,0,0,1,5.65625-5.65625l72,72A3.99854,3.99854,0,0,1,218.82812,130.82812Z">
                        </path>
                    </g>
                </svg>
            </div>
        </div>
        <p class="text-xl">UI Development</p>
        <p class="text-xl">
            As a passionate web developer, I specialize in creating dynamic and responsive web applications using the
            latest front-end technologies</p>
        <div class="w-full h-[1px] bg-gray-400"></div>
    </div>
    <div class="font-mono relative hover:text-[#00ff99] transition-all">
        <div class="flex items-center w-full justify-between">
            <p class="outline-text text-8xl">03</p>
            <div class="arrow-icon bg-white rounded-full">
                <svg class="cursor-pointer rotate-45 hover:rotate-0 transition-transform duration-300 ease-in transform"
                    fill="#000000" width="50px" height="50px" viewBox="0 0 256 256" id="Flat"
                    xmlns="http://www.w3.org/2000/svg" stroke="#000000" stroke-width="0.00256">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path
                            d="M218.82812,130.82812l-72,72a3.99957,3.99957,0,0,1-5.65625-5.65625L206.34326,132H40a4,4,0,0,1,0-8H206.34326L141.17187,58.82812a3.99957,3.99957,0,0,1,5.65625-5.65625l72,72A3.99854,3.99854,0,0,1,218.82812,130.82812Z">
                        </path>
                    </g>
                </svg>
            </div>
        </div>
        <p class="text-xl">Web Develpment</p>
        <p class="text-xl">
            As a passionate web developer, I specialize in creating dynamic and responsive web applications using the
            latest front-end technologies</p>
        <div class="w-full h-[1px] bg-gray-400"></div>
    </div>
    <div class="font-mono relative hover:text-[#00ff99] transition-all">
        <div class="flex items-center w-full justify-between">
            <p class="outline-text text-8xl">04</p>
            <div class="arrow-icon bg-white rounded-full">
                <svg class="cursor-pointer rotate-45 hover:rotate-0 transition-transform duration-300 ease-in transform"
                    fill="#000000" width="50px" height="50px" viewBox="0 0 256 256" id="Flat"
                    xmlns="http://www.w3.org/2000/svg" stroke="#000000" stroke-width="0.00256">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path
                            d="M218.82812,130.82812l-72,72a3.99957,3.99957,0,0,1-5.65625-5.65625L206.34326,132H40a4,4,0,0,1,0-8H206.34326L141.17187,58.82812a3.99957,3.99957,0,0,1,5.65625-5.65625l72,72A3.99854,3.99854,0,0,1,218.82812,130.82812Z">
                        </path>
                    </g>
                </svg>
            </div>
        </div>
        <p class="text-xl">Web Develpment</p>
        <p class="text-xl">
            As a passionate web developer, I specialize in creating dynamic and responsive web applications using the
            latest front-end technologies</p>
        <div class="w-full h-[1px] bg-gray-400"></div>
    </div>
</div>