<div class="flex flex-col">
    <div class="mt-[50px] flex w-full h-full items-center flex-col-reverse md:flex md:flex-row md:justify-between">

        <!-- Details -->
        <div class="flex items-center flex-col justify-center">
            <div>
                <p class="text-center text-xl font-mono line-clamp-6 md:text-left">Software Developer</p>
                <h1 class="text-center text-[48px] font-mono font-bold md:text-[80px] md:text-left leading-[1.1]">Hello
                    I'm
                </h1>
                <h1
                    class="text-center text-[42px] font-mono text-[#00ff99] font-bold md:text-[80px] md:text-left leading-[1.1]">
                    Rifash Muhammed</h1>
                <div class="w-full lg:w-[500px] text-center md:text-start text-gray-400 font-mono"
                    style="line-height: 30px;">
                    <p>Eager BCA graduate with a strong foundation in Computer programming. I'm a quick learner and
                        highly motivated to contribute my skills</p>
                </div>
            </div>
            <!-- buttons -->
            <div class="mt-5 w-full flex items-center justify-center md:justify-start">
                <div class=" flex flex-col items-center md:flex-row md:items-center">
                    <div>
                        <button (click)="downloadResume()"
                            class="flex items-center font-semibold font-mono border-[1px] border-[#00ff99] px-6 py-3 rounded-3xl hover:bg-[#00ff99] hover:text-black transition-all">Download
                            CV
                            <i class='ms-3 bx bx-download text-[#00ff99] text-lg hover:text-black'></i>
                        </button>
                    </div>

                    <div class="flex w-60 items-center justify-between mt-5 md:mt-0 md:ms-5">
                        <a href="https://github.com/rifsh">
                            <div
                                class="icon-hover border-[1px] border-[#00ff99] w-[40px] h-[40px] rounded-full flex items-center justify-center transition-all">
                                <i class='bx bxl-github text-[25px]'></i>
                            </div>
                        </a>
                        <a href="https://www.linkedin.com/in/rifash-muhammed-a59644247/">
                            <div
                                class="icon-hover transition-all border-[1px] border-[#00ff99] w-[40px] h-[40px] rounded-full flex items-center justify-center">
                                <i class='bx bxl-linkedin text-[25px]'></i>
                            </div>
                        </a>
                        <a href="">
                            <div
                                class="icon-hover transition-all border-[1px] border-[#00ff99] w-[40px] h-[40px] rounded-full flex items-center justify-center">
                                <i class='bx bxl-instagram text-[25px]'></i>
                            </div>
                        </a>
                        <a href="">
                            <div
                                class="icon-hover transition-all border-[1px] border-[#00ff99] w-[40px] h-[40px] rounded-full flex items-center justify-center">
                                <i class='bx bxl-facebook-circle text-[25px]'></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Image -->
        <div class="mb-5">
            <img src="https://imgs.search.brave.com/qv5nKSKA1KtKsvi3MNh_UZ0PwbLeclDgbkdJAoFvBx4/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9hdmF0/b29uLm1lL3dwLWNv/bnRlbnQvdXBsb2Fk/cy8yMDIxLzA5L0Nh/cnRvb24tUGljLUlk/ZWFzLWZvci1EUC1Q/cm9maWxlLTAzLTc2/OHg3NjgucG5n"
                class="rounded-full" alt="">
        </div>
    </div>
    <!-- Objectives -->
    <!-- <div class="flex items-center justify-around flex-wrap md:mt-10">
        <div class="objectives">
            <p class="text-7xl text-gray-300 font-bold font-mono">12</p>
            <p>Years of <br> Experience</p>
        </div>
        <div class="objectives">
            <p class="text-7xl text-gray-300 font-bold font-mono">26</p>
            <p>Projects Completed</p>
        </div>
        <div class="objectives">
            <p class="text-7xl text-gray-300 font-bold font-mono">8</p>
            <p>Technologies Mastered</p>
        </div>
        <div class="objectives">
            <p class="text-7xl text-gray-300 font-bold font-mono">500</p>
            <p>Code Commits</p>
        </div>
    </div> -->
</div>